<p>Bonjour</p>
<p>Vous avez demandé le changement de votre mot de passe.</p>
<p>Si cette demande ne provient pas de vous, veuillez ignorer cet e-mail.</p>
<p>Vous pouvez changer votre mot de passe en cliquant sur le lien ci-dessous :</p> 

<% if message['redirect-url'].to_s == "https://prod-bwii-v3-api.herokuapp.com/api/v3/password_users" %>
  <p><%= link_to 'Changer votre mot de passe', edit_api_v3_user_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
<% else %>
  <p><%= link_to 'Changer votre mot de passe', edit_api_v3_user_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
<% end %>

<br/>
<p>Nous restons à votre entière disposition par e-mail sur support@b-wii.com.</p>
<br/>
<p>A très bientôt,</p>
<br/>
<p>Le Service Client</p>
<p>BWII</p>
<p>E-mail : support@b-wii.com </p>
<p>Site web : https://b-wii.com/</p>
